body {
  font-family: 'Oxanium', cursive;
  background-color: white;
  margin: 0;
}

h2 {
  font-size: 1.5rem;
  margin-top: 2rem;
}

h3 {
  margin-top: 2rem;
}

p {
  color: #8f8f8f;
}

/* NAVBAR */
.navbar-white {
  background-color: white;
}

.logo {

}

.navbar {
  background-color: rgba(255,255,255,0.8);
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
}

.nav-link {
  color: #000;
}

.nav-item {
  margin: 0 2rem;
}

.nav-link:hover {
  text-decoration: underline;
}


/* INTRO */

#header-info {
  padding: 160px 0 100px;
  background-image: url("https://raw.githubusercontent.com/almhh/almhh-wavelab-demo/master/CSS/cover-fade2.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

.intro-text {
  padding: 3rem 0 0 2rem;
}

.bold {
  font-weight: bold;
}

/* SERVICES */
#services {
  width: 80%;
  margin: auto;
  text-align: center;
}

/* IMAGES */
.icon-large {
  width: 200px;
  height: auto;
  border-radius: 100%;
}

.img-trans {
  transform: scaleX(-1);
}
.cover-img {
  width: 100%;
}

.profile {
  border-radius: 100%;
  width: 100px;
}

.servizi-content {
margin: 20px 0;
}

.btn-broad {
  margin: 10px;
  width: 100%;
}

.servizi {
  margin: 2rem 0;
}

.icon-medium {
  width: 150px;
  height: auto;
  border-radius: 100%;
}

.right {
  float: right;
}

.left {
  float: left;
}

footer {
  margin: 20px;
  text-align: center;
  font-size: 0.7rem;
  line-height: 2;
}

/* CHI SIAMO? */
#chi-siamo {
  margin: auto;
  width: 80%;
  text-align: center;
  }

.centered {
  text-align: center;
}

.black {
  color: black;
}

.icon {
  margin: 40px 20px 40px;
  color: #6a8caf;
  text-align: center;
}

.icon:hover {
  color: #000;
}


.img-small {
  width: 70px;
}

hr {
  margin: 25px 0;
  height: 1px;
  background: black;
  background: -webkit-gradient(linear, 0 0, 100% 0, from(white), to(white), color-stop(50%, #6a8caf));
}

.presentation {
  color: black;
}
